absl-py
aiohappyeyeballs
aiohttp
aiosignal
asttokens==3.0.0
astunparse==1.6.3
async-timeout
attrs
awscli==1.35.10
backcall==0.2.0
beautifulsoup4==4.13.4
bleach==6.1.0
blinker
boto3==1.35.44
botocore==1.35.44
Bottleneck
cachetools
certifi
cffi
charset-normalizer
click
cloudpickle==3.1.1
colorama
coloredlogs==15.0.1
contourpy==1.1.1
cryptography
cycler==0.12.1
decorator
defusedxml==0.7.1
docopt==0.6.2
docutils==0.16
einops==0.8.0
et-xmlfile==1.1.0
executing==2.2.0
fastjsonschema==2.21.1
filelock==3.15.4
flatbuffers
fonttools==4.53.1
frozenlist
fsspec==2024.6.1
future==0.18.2
fvcore==0.1.5.post20221221
gast
google-auth==2.33.0
google-auth-oauthlib
google-pasta
grpcio
h5py
huggingface-hub==0.26.2
humanfriendly==10.0
idna
imageio
imageio-ffmpeg
importlib-metadata
importlib_resources==6.4.2
iopath==0.1.10
ipython==8.12.3
jedi==0.19.2
Jinja2==3.1.4
jmespath==1.0.1
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter_client==8.6.3
jupyter_core==5.8.1
jupyterlab_pygments==0.3.0
kiwisolver==1.4.5
Markdown
MarkupSafe
matplotlib==3.7.5
matplotlib-inline==0.1.7
mistune==3.1.3
moviepy
mpmath==1.3.0
multidict
nbclient==0.10.1
nbconvert==7.16.6
nbformat==5.10.4
networkx==3.1
ninja==1.11.1
numexpr
numpy==1.24.3
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.6.20
nvidia-nvtx-cu12==12.1.105
oauthlib
onnx==1.17.0
onnxruntime==1.19.2
onnxruntime-gpu==1.19.2
opencv-python==4.10.0.84
openpyxl==3.1.5
opt-einsum
packaging
pandas==2.0.3
pandocfilters==1.5.1
parso==0.8.4
pexpect==4.9.0
pickleshare==0.7.5
Pillow==9.2.0
pipreqs==0.5.0
pkgutil_resolve_name==1.3.10
platformdirs
pooch
portalocker==3.0.0
proglog==0.1.9
prompt_toolkit==3.0.51
protobuf
ptyprocess==0.7.0
pure_eval==0.2.3
pyasn1
pyasn1-modules==0.2.8
pycparser
Pygments==2.19.2
PyJWT
pyOpenSSL
pyparsing
PySocks
pytesseract==0.3.13
python-dateutil
pytz
PyYAML==6.0.2
pyzmq==27.0.0
referencing==0.35.1
requests
requests-oauthlib
rpds-py==0.20.1
rsa
s3transfer==0.10.3
safetensors==0.4.5
scikit-learn==1.3.2
scipy==1.10.1
seaborn==0.13.2
six
soupsieve==2.7
stack-data==0.6.3
svgwrite==1.4.3
sympy==1.13.2
tabulate==0.9.0
tensorboardX==2.6.2.2
termcolor
thop==0.1.1.post2209072238
threadpoolctl==3.5.0
timm==1.0.11
tinycss2==1.2.1
torch==2.4.0
torchinfo==1.8.0
torchsummary==1.5.1
torchvision==0.19.0
tornado==6.4.2
tqdm
traitlets==5.14.3
Tree==0.2.4
triton==3.0.0
typeguard==2.13.3
typing_extensions
tzdata==2024.2
urllib3
wcwidth==0.2.13
webencodings==0.5.1
Werkzeug
wrapt
yacs==0.1.8
yarg==0.1.9
yarl
zipp==3.20.0
